export VERSION="0.1.10"
export FULLDATE="Tue Dec 10 11:11:32 EST 2019"
export FULLDATESEC="1575994292"
export DATE="2019-12-10"
export DATETEXT="December 10, 2019"
export COMMITCT=0
export FULLVERSION=0.1.10
