export VERSION="0.1.3"
export FULLDATE="Mon Dec  9 13:32:27 EST 2019"
export FULLDATESEC="1575916347"
export DATE="2019-12-09"
export DATETEXT="December 09, 2019"
export COMMITCT=0
export FULLVERSION=0.1.3
