export VERSION="0.1.9"
export FULLDATE="Tue Dec 10 10:02:53 EST 2019"
export FULLDATESEC="1575990173"
export DATE="2019-12-10"
export DATETEXT="December 10, 2019"
export COMMITCT=0
export FULLVERSION=0.1.9
