export VERSION="0.1.4"
export FULLDATE="Mon Dec  9 13:36:11 EST 2019"
export FULLDATESEC="1575916571"
export DATE="2019-12-09"
export DATETEXT="December 09, 2019"
export COMMITCT=0
export FULLVERSION=0.1.4
